.profile {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .profile {
    gap: 26px;
  }
}

@media screen and (max-width: 582px) {
  .profile {
    flex-direction: column;
    text-align: center;
  }
}
