.header__burger-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 582px) {
    .header__burger-wrapper {
        padding-top: 27px;
    }
}